body {
  font-family: Jost;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

h1,
h2 {
  font-weight: 600;
}

section {
  padding: 120px 0;
}

.header {
  background-color: #141024;
  padding: 30px 0;
  color: #fff;
}

.header-content {
  margin: 0 auto;
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 255px;
  font-size: 30px;
  font-weight: 700;
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  list-style: none;
}

.contacts {
  max-width: 255px;
  font-size: 30px;
}

.promo {
  height: calc(100dvh - 108px);
  background-color: #141024;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.promo-wrapper {
  margin-top: 22%;
}

.promo-text__title {
  font-size: 70px;
}

.promo-text__subtitle {
  font-size: 20px;
  max-width: 478px;
  margin-top: 20px;
}

.promo-wrapper__button {
  margin-top: 50px;
}

.button {
  border: none;
  padding: 25px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: inherit;
  transition: background-color 0.3 ease;
  background-color: #d52027;
}

.button:hover {
  background-color: #cc3d42;
}

.promo-wrapper__img {
  position: absolute;
  left: 48%;
  width: 783px;
  height: 917px;
  top: 54px;
}

.stats-description {
  color: #141024;
  font-size: 30px;
  width: 891px;
}

.stats-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.stats-item {
  flex-basis: 360px;
}

.stats-item__number {
  color: #d52027;
  font-size: 70px;
}

.stats-item__description {
  color: #141024b3;
}

.benefits {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.benefits-title {
  color: #141024;
  font-size: 50px;
}

.benefits-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.benefits-item {
  flex-basis: 360px;
}

.benefits-item__title {
  color: #141024;
  font-size: 24px;
}

.benefits-item__description {
  color: #141024b3;
  margin-top: 20px;
}

.coachs {
  padding-bottom: 0;
}

.coachs-title {
  font-size: 50px;
  color: #141024;
}

.coachs-wrapper {
  margin-top: 60px;
  display: flex;
  overflow-x: scroll;
  gap: 40px;
}

.coachs-item {
  flex-basis: 360px;
  flex-shrink: 0;
  flex-grow: 1;
}

.coachs-item__photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.coachs-item__title {
  font-size: 24px;
  margin-top: 20px;
  color: #141024;
}

.coachs-item__description {
  color: #141024b3;
  margin-top: 10px;
}

.coachs-item__info-button {
  color: #d52027;
  margin-top: 20px;
}

.packages-title {
  color: #141024;
  font-size: 50px;
}

.packages-wrapper {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.packages-item {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #14102433;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #141024;
  flex-basis: 360px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 40px;
}

.packages-item:hover {
  transform: scaleY(1.02);
  color: #fff;
  background-color: #141024;
}

.packages-item:hover .packages-item__title::before,
.packages-item:hover .packages-item__title::after {
  background-color: #fff;
}

.packages-item__title {
  font-size: 30px;
  position: relative;
}

.packages-item__title::before,
.packages-item__title::after {
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #141024;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.packages-item__title::before {
  left: -33px;
}

.packages-item__title::after {
  right: -33px;
}

.packages-item__price {
  font-size: 50px;
  margin-top: 63px;
}

.packages-item__description {
  margin-top: 20px;
  width: 250px;
  text-align: center;
}

.packages-item__button {
  color: #fff;
  margin-top: 61px;
}
