html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-color);
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

h1,
h2 {
  font-weight: 600;
}

h2 {
  font-size: 50px;
}

section {
  padding: 120px 0;
}

.button {
  border: none;
  padding: 25px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font: inherit;
  color: inherit;
  transition: background-color 0.3s ease;
  background-color: var(--accent-color);
}

.button:hover {
  background-color: var(--accent-color-hover);
}

.button--dark {
  padding: 19px 20px;
  background-color: var(--primary-color);
}

.button--dark:hover {
  background-color: var(--button-dark-hover);
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.contacts {
  max-width: 255px;
  font-size: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.lock {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .button:hover {
    background-color: var(--accent-color);
  }

  .button--dark:hover {
    background-color: var(--primary-color);
  }

  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }

  .logo {
    font-size: 22px;
  }

  .button {
    padding: 17px 54px;
    font-size: 16px;
  }

  .button--dark {
    padding: 18px 0 19px 0;
    line-height: normal;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  .logo {
    min-width: 136px;
    font-size: 18px;
  }
}
