.header {
  background-color: var(--primary-color);
  padding: 30px 0;
  color: var(--white-color);
}

.header-content {
  margin: 0 auto;
  max-width: 1720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  list-style: none;
}

.header-buttons {
  display: none;
}

.header-button__navbar-closer {
  display: none;
}

.icon-button {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  position: relative;
  border-radius: 10px;
}

.icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1800px) {
  .header {
    padding: 30px 40px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 20px;
  }
}

@media (max-width: 990px) {
  .header {
    padding: 15px;
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
  }

  .hidden {
    transform: translateY(-100dvh);
  }

  .header-button__navbar-closer {
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
  }

  .header-contacts {
    display: none;
  }

  .header-buttons {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 10px;
  }

  .header-button__navbar-closer {
    top: 10px;
    right: 10px;
  }
}
