.promo {
  height: calc(100dvh - 108px);
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
  overflow: hidden;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.promo-wrapper {
  margin-top: 22%;
}

.promo-text__title {
  font-size: 70px;
}

.promo-text__subtitle {
  font-size: 20px;
  max-width: 478px;
  margin-top: 20px;
}

.promo-wrapper__button {
  margin-top: 50px;
}

.promo-wrapper__img {
  position: absolute;
  left: 48%;
  width: 783px;
  height: 917px;
  top: 54px;
}
