.registration {
  padding: 87px 0;
  background-color: var(--accent-color);
  color: var(--white-color);
  line-height: 1.3;
  background-image: url(../images/background-image-registration.png);
  background-repeat: repeat-x;
  background-position-y: 385px;
}

.registration-wrapper {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.registration-text {
  flex-basis: 476px;
}

.registration-text__title {
  font-size: 36px;
}

.registration-text__description {
  font-size: 20px;
  margin-top: 20px;
}

.registration-form {
  flex-basis: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.registration-form__input {
  color: var(--primary-color-opacity70);
  background-color: var(--secondary-white-color);
  border-radius: 5px;
  padding: 19px 20px;
}

@media (max-width: 1024px) {
  .registration-wrapper {
    flex-direction: column;
  }

  .registration-text {
    flex-basis: 0;
    text-align: center;
  }

  .registration-form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 0;
  }

  .registration-form__input,
  .registration-form .button {
    width: 500px;
  }

  .registration {
    background-position-y: 520px;
  }
}

@media (max-width: 768px) {
  .registration {
    padding: 40px 0;
    background-image: none;
  }

  .registration-wrapper {
    gap: 40px;
    padding: 0;
  }

  .registration-text {
    max-width: 400px;
    align-self: center;
  }

  .registration-text__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .registration-text__description {
    font-size: 16px;
    margin-top: 10px;
  }

  .registration-form__input,
  .registration-form .button {
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .registration-text {
    max-width: 300px;
  }

  .registration-form__input,
  .registration-form .button {
    max-width: 300px;
  }

  .registration-form__input {
    padding: 17px 20px;
  }

  .registration-form__input::placeholder {
    font-size: 16px;
    line-height: normal;
  }
}
