.stats-description {
  font-size: 30px;
}

.stats-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.stats-item {
  flex-basis: 25%;
}

.stats-item__number {
  color: var(--accent-color);
  font-size: 70px;
}

.stats-item__description {
  color: var(--primary-color-opacity70);
}

@media (max-width: 1024px) {
  .stats-wrapper {
    flex-wrap: wrap;
  }

  .stats-item {
    flex-basis: 47%;
  }

  .stats-description {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .stats-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .stats-wrapper {
    margin-top: 40px;
    gap: 30px;
  }
}

@media (max-width: 425px) {
  .stats-description {
    font-size: 20px;
  }
}
